@model PaginatedList<ClinicProject.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index" style="margin-bottom :20px;">
    <input type="text" name="SearchString" value="@ViewData["SearchFilter"]" placeholder="Search For Patient" />
    <input type="submit" value="Search" class="btn btn-primary" />
    <a asp-action="Index">Full Patients List</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["NameSortParm"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">FirstName</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["NameSortParm2"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">LastName</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["BirthDaySortParm"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">DateOfBirth</a>
            </th>
            <th>
                Gender
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["AddressSortParm"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">Address</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["RegistrationSortParm"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">RegistrationDate</a>
            </th>
            <th>
                SSN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">

    &nbsp;Next&nbsp;
</a>